.DS_Store
*~
*.cache
*#*#
.#*
node_modules/
npm-debug.log
/data.js
/scratch.html
*swp
.idea
.tern-project
bower_components/
test/scratch*
blocks-*
lib/ometa/wat*
/test/granny/
/lib/ometa/bemhtml.ometajs
/lib/ometa/bemhtml-classify.ometajs
/lib/i-bem.bemhtml.js
